.header {
  background-color: #fff;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  align-items: center;
  max-height: 38px;
}

.header_auth {
  background-color: #465dff;
}

.header__logo {
  width: 38px;
  height: 38px;
  transition: filter 0.1s linear, opacity 0.1s linear;
  margin-top: 5px;
}
.header__logo:hover {
  filter: drop-shadow(0px 4px 2px rgba(95, 95, 95, 0.6));
  opacity: 0.9;
}

.account__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: black;
  transition: filter 0.1s linear, opacity 0.1s linear;
}
.account__link:hover {
  filter: drop-shadow(0px 4px 2px rgba(95, 95, 95, 0.6));
  opacity: 0.9;
}

.account__text {
  margin: 0;
}

.account__icon {
  background-color: #f9f9f9;
  width: 11.5px;
  height: 14px;
  border-radius: 4px;
  padding: 7.25px 8px;
  margin: 0 0 0 17px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
  .account__link {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding: 18px 14px;
  }
}
