.nav-tab__reg {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
} 
.nav-tab__enter {
  font-weight: 500;
  font-size: 12px;
  color: black;
  text-decoration: none;
  background-color: #2be080;
  border-radius: 3px;
  padding: 9px 20px;
} 

@media screen and (max-width: 520px) {
  .nav-tab__reg {
    font-size: 10px;
    margin-right: 14px;
  } 
  .nav-tab__enter {
    font-size: 10px;
    padding: 5px 12px;
  } 
}